html, body {
  margin: 100;
  padding: 50;
}
canvas {
  display: block;

}
.principal {
  display: flex, 
  display: grid,
  float: left,
  text-align: center,
  margin: auto ,
  position: absolute; 
}
